<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/login.css">
</head>
<body>
   
    <div class="login-page">
        <div class="form">
            <h2 id="h2_color">WELCOME TO PET SQUARE!</h2></h1>
       <!--<form class="register-form">
            
            <input type="text" placeholder="name"/>
            <input type="password" placeholder="password"/>
            <input type="text" placeholder="email address"/>
            <button>create</button>
            <p class="message">Already registered? <a href="#">Sign In</a></p>
            </form>--> 
            <form class="login-form" method="POST">
            <input type="text" placeholder="username" name='id' required >
            <input type="password" placeholder="password" name='pw' required>
            
            <button>login</button>
            <p class="message">계정이 없으신가요? <a href="/views/register">지금 등록하세요!</a></p>
        </form>
        </div>
      </div>
</body>
</html>
