<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRO</title>
    <link rel="stylesheet" href="/register.css">
</head>
<body>
    <div class="login-page">
        <div class="form">
          <form class="register-form"  method="POST">
              <h2 id="regis_h2">회원가입</h2>
            <input type="text" placeholder="name" name='id' required>
            <input type="password" placeholder="password" name='pw' required>
            <input type="text" placeholder="nickname" name='name' required>
          
            <button>create</button>
            <p class="message">계정이 이미 있으신가요? <a href="/views/login">SIGN IN!</a></p>
          </form>
          <!--<form class="login-form">
            <input type="text" placeholder="username"/>
            <input type="password" placeholder="password"/>
            <button>login</button>
            <p class="message">Not registered? <a href="#">Create an account</a></p>
          </form> -->
        </div>
      </div>
</body>
</html>